.calendarBottomText {
  text-anchor: middle;
  fill: #333;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  pointer-events: none;
}

.calendarBottomText-dark {
  fill: rgb(199 202 209);
}

.calendarTopTick {
  stroke: #e6e4e4;
}

.calendarTopTick-dark {
  stroke: none;
}

.calendarTopText {
  text-anchor: middle;
  fill: #555;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  pointer-events: none;
}

.calendarHeader {
  fill: #ffffff;
  stroke: #e0e0e0;
  stroke-width: 1.4;
}

.calendarHeader-dark {
  fill: rgb(41 39 53);
  stroke: none;
  color: rgb(199 202 209);
}
